.Ajustes {
    background-image: url('../../assets/img/fondo.jpg');
    background-size: 100%;
    background-color: #1C6473;
    background-repeat: no-repeat;
    background-position: center center;
}

.imagenes {
    position: absolute;
    right: 0;
    margin-right: 2%;
}

img .a {
    margin-right: 4%;
}

.contenedorInfo {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}


.contenedorInfo .info {
    font-size: 130%;
    margin-top: 20%;
    color: white
}

.contenedorInfo .barraEscribirAjustes {
    font-size: 120%;
    width: 120%;
    border-radius: 5px;
    border: 2.5px solid black;
}

.contenedorInfo .barraEscribirAjustesEmail {
    font-size: 110%;
    padding: 1%;
    background-color: white;
    width: 120%;
    border-radius: 5px;
    border: 2.5px solid black;
}

.contenedorBotonesTodos {
    position: flex;
    justify-content: left;
    width: 15%;
    right: 0;
    margin-left: 77%;
    margin-top: 12%;
    right: 8%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenedorBotones {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translateY(-50%);
    transform: translateY(-50%);
}

.contenedorBotonesPeligro {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.botonConfirmarCancelar {
    display: block;
    color: white;
    font-family: 'Chivo', sans-serif;
    border-radius: 35px;
    font-size: 130%;
    background-color: #24AECD;
    border-style: solid;
    height: 50px;
    width: 120%;
    border: 4px solid white;
}

.botonConfirmarCancelar:hover {
    background-color: #1d9bb8;
    color: #81BFCD;
    border-color: #81BFCD;
    cursor: pointer;
}

.botonPeligro {
    display: block;
    color: white;
    font-family: 'Chivo', sans-serif;
    border-radius: 35px;
    font-size: 130%;
    background-color: #F64C4C;
    border-style: solid;
    height: 50px;
    width: 120%;
    border: 4px solid white;
}

.botonPeligro:hover {
    background-color: #FF6262;
    color: #FAABAB;
    border-color: #FF8181;
    cursor: pointer;
}

.errorAjustes {
    position: fixed;
    bottom: 1%;
    left: 0;
    right: 0;
    font-size: 130%;
    text-align: center;
    background-color: #FF6262;
    padding: 0.5%;
    color: white;
}


.contenedorImagen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top:18%;
    margin-right: 28%;
    gap: 15px;
}
  
.contenedorImagen .imagenAjustes {
    width: 100%;
    height: auto;
}
  
.contenedorImagen .botonAjustes {
    width: 100%;
    color: white;
    font-family: 'Chivo', sans-serif;
    border-radius: 15px;
    font-size: 130%;
    background-color: #2d92a8;
    border-style: solid;
    height: 50px;
    width: 100%;
    border: 4px solid white;
}



.botonAjustes:hover {
    background-color: #1d9bb8;
    color: #81BFCD;
    border-color: #81BFCD;
    cursor: pointer;
}

/* Imagenes 
.contenedorImagen {
    position: flex;
    justify-content: left;
    width: 15%;
    right: 0;
    margin-left: 77%;
    margin-top: 12%;
    right: 8%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.contenedorImagen .imagenAjustes {
    position: absolute;
    right: 0;
    margin-right: 28%;
    top: 30%;
    width: 15%;
    height: auto;
}

.contenedorImagen .botonAjustes {
    position: absolute;
    right: 0;
    margin-right: 28%;
    top: 30%;
    width: 15%;
    height: auto;
}*/

