.popupAyuda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 62, 71, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-ayuda {
    position: absolute;
    top: 20%;
    left: 25%;
    padding: 2%;
    width: 70%;
    max-width: 50%;
    background-color: #C3FAFE;
    border-radius: 5px;
    text-align: center;
    border: 10px solid white;
}

.popup-ayuda .tituloAyuda {
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: "Trocchi", serif;
    font-size: 240%;
    color: #1c6473;
}

.popup-ayuda .textoAyuda {
    font-size: 130%;
}

.popup-ayuda .textoEspecifico {
    font-size: 190%;
    color: #337a8a;
    margin-bottom: 0%;
    font-family: Cambria, serif;
}


.popup-ayuda .closeButton {
    position: absolute;
    top: 6%;
    right: 3%;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(2);
    background-color: #81bfcd;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    text-align: center;
}

.closeButton:hover {
    background-color: #1d9bb8;
    color: #81bfcd;
    border-color: #81bfcd;
    cursor: pointer;
}

.popup-ayuda .error-message {
    color: red;
    font-size: 100%;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}

.popup-ayuda .elButton {
    color: white;
    font-family: "Chivo", sans-serif;
    border-radius: 35px;
    font-size: 130%;
    background-color: #24aecd;
    border-style: solid;
    height: 50px;
    width: 30%;
    border: 4px solid white;
}

.popup-ayuda .elButton:hover {
    background-color: #1d9bb8;
    color: #81bfcd;
    border-color: #81bfcd;
    cursor: pointer;
}

.popup-ayuda .barraDespegable {
    font-size: 100%;
    color: #1c6473;
}