
.header {
    font-size: calc(350% + 2vmin);
    color: white;
    font-family: 'Trocchi', serif;
    display: flex;
    justify-content: center;
    text-align: center;
  }

.barraTitulo{
    align-items: center;
    display: flex;
    width: auto;
    height: 20px;
    background-color: #C3FAFE;
    text-align: center;
    border: 2px solid white;
    margin-bottom: 1%;
}