.Sala {
    /*background-image: url('../../assets/img/fondo.jpg');
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #1C6473;*/
}

.imagenes {
    position: absolute;
    right: 0;
    margin-right: 2%;
 }

img .a {
    margin-right: 4%;
}

.botonSalir {
    margin-left: 2%;
    color: white;
    font-family: 'Chivo', sans-serif;
    border-radius: 35px;
    font-size: 130%;
    background-color: #24AECD;
    border-style: solid;
    height: 50px;
    width: 15%;
    border: 4px solid white;
}

.botonSalir:hover {
    background-color: #1d9bb8;
    color: #81BFCD;
    border-color: #81BFCD;
    cursor: pointer;
}

.nombre_codigo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130%;
    font-family: 'Chivo', sans-serif;
    color: white;

}

.barraCodigo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 1%;
    color: black;
    font-size: 130%;
    font-family: 'Chivo', sans-serif;
    width: 15%;
    height: 4%;
}

.idRoom {
    flex-grow: 1;
    text-align: center;
}

.botonCopiar {
    background: none;
    border: none;
    font-size: 10%;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: -2%;
}

.copiadoIcono {
    right: 0;
}

.copiadoIcono2 {
    right: 0;
}

.eliminarIcono {
    
    border: none;
    font-size: 10%;
    cursor: pointer;
    position: absolute;
    height: 30px;
    left: 22.5%;
    margin-top: -0.5%;
}

.comenzarPartida {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10%;
    color: white;
    font-family: 'Caveat', sans-serif;
    border-radius: 35px;
    font-size: 230%;
    background-color: #81BFCD;
    border-style: solid;
    height: 17%;
    width: 15%;
    border: 4px solid white;
}


.comenzarPartida:hover {
    background-color: #1d9bb8;
    color: #81BFCD;
    border-color: #81BFCD;
    cursor: pointer;
}

.botonAmigos {
    position: inline-block;
    color: white;
    font-family: 'Chivo', sans-serif;
    border-radius: 35px;
    font-size: 120%;
    background-color: #24AECD;
    border-style: solid;
    height: 40px;
    width: 17%;
    margin-left: 2%;
    border: 4px solid white;
}


.botonAmigos:hover {
    background-color: #1d9bb8;
    color: #81BFCD;
    border-color: #81BFCD;
    cursor: pointer;
}

.eliminarSala {
    position: absolute;
    right: 0;
    top: 70%;
    transform: translateY(-50%);
    margin-right: 10%;
    color: white;
    font-family: 'Chivo', sans-serif;
    border-radius: 35px;
    font-size: 130%;
    background-color: #F64C4C;
    border-style: solid;
    height: 10%;
    width: 15%;
    border: 4px solid white;
}


.eliminarSala:hover {
    background-color: #FA7171;
    color: red;
    border-color: #FFAAAA;
    cursor: pointer;
}

.players-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    width: 20%;

}

.player {
    background-color: #C3FAFE;
    padding: 10px;
    border: 1px solid black;
    font-family: 'Chivo', sans-serif;
}

.texto-participante {
    font-size: 200%;
    font-family: 'Caveat', sans-serif;
    color: white;
}

.mensaje-error-salas {
    color: #FF8D8D;
    font-size: 140%;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.abandonarSala {
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    margin-right: 10%;
    color: white;
    font-family: 'Chivo', sans-serif;
    border-radius: 35px;
    font-size: 130%;
    background-color: #F64C4C;
    border-style: solid;
    height: 10%;
    width: 15%;
    border: 4px solid white;
}


.abandonarSala:hover {
    background-color: #FA7171;
    color: red;
    border-color: #FFAAAA;
    cursor: pointer;
}